@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
#flvideoreplacerstatusimage{
  list-style-image: url("chrome://flvideoreplacer/content/images/statusbar.png");
}
#flvideoreplacerbutton-1,
#wrapper-flvideoreplacerbutton-1
  {list-style-image: url("chrome://flvideoreplacer/content/images/toolbarbutton.png");}

/* common style for all custom buttons */
.flvideoreplacerbutton
  {-moz-image-region: rect( 0px 24px 24px  0px);}

[iconsize="small"] .flvideoreplacerbutton
  {-moz-image-region: rect( 0px 40px 16px 24px);}
